@import url('https://fonts.cdnfonts.com/css/kapakana');
/* NAV BAR*/
body{
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #004F44;
    display: fixed;
    font-family: 'Poppins', sasn-serif;

  }
  
  li {
    float: left;
    
  }
  
  li:last-child {
    border-right: none;
  }
  li:nth-child(1), li:nth-child(2), li:nth-child(3), li:nth-child(5){
    margin-top: 2.5%;
  }
  li:nth-child(1), li:nth-child(2), li:nth-child(3){
    margin-left: 2%;
  }
  li:nth-child(5){
    margin-right: 2%;
  
  }
  .logo{
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
    font-family: 'Kapakana', sans-serif;
    font-size: 109px;
    margin-left: 12%;

  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;

  }
 /*Styling the footer*/


 .footer {
    height: auto;
    width: auto;
align-items: center;    background-color: #004F44;
  }

  .footer .socialMedia{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 245px;
    margin-left: 43%;
    padding-top: 2%;
  }

  .footer .rights{
    display: grid;
    margin-left: 39%;
    margin-top: 0.20%;
  }

  .footer .rights h2{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 26px;
  }

/*checkout styling*/

.checkout .title h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 40px;
    margin-left: 97px;
    color: #004F44;
    
}
.checkoutg{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.checkout .g1 h3{
    font-size: 41px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 48px;
    margin-left: 240px;
    color:black;
}

.cNum, .cName{
    height: 80px;
    width: 742px;
    border: 2px solid #004F44;
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
    margin-left: 79px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 30px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.date, .cvv{
    height: 80px;
    border: 2px solid #004F44;
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    text-align: center;

}

.date{
    width: 468px;
    margin-left: 79px;
}
.cvv{
    width: 208px;
    border-radius: 15px;
    margin-left: 56px;
    margin-bottom: 58px;

}
.btn{
    height: 80px;
    width: 742px;
    background-color: white;
    border: 2px solid #004F44;
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    text-align: center;
    margin-left: 79px;
    color: #004F44;
    font-weight: bolder;
    margin-bottom: 60px;
}
.btn:hover{
    background-color: #004F44;
    color: white;
}

.g2 img{
    margin-top: 120px;
    margin-left:154px;
    margin-bottom:0px;
}
.g2 h1{
    font-size: 57px;
    font-family: 'Poppins', sans-serif;
    margin-left: 245px;
    color:#004F44;

}